---
layout: default
title: Diversity In Tech
---

{% include subpage-header.html %}
        <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="project-info">
                    <img class="project-img" src="img/dit-moblie.png" alt="Diversity in tech moblie mockup">
                  
                    <h2>Project Brief</h2>
                    <p>Diversity In Tech was a site I created to learn more about the lack of diversity in tech and also to use different tools to build out the site.</p>
                    <a class="btn btn-primary" href="http://titovaliente.github.io/Diversity-in-tech/index.html">View the project</a>

                  </div>
                  
                  <div class="project-info list-space">
                    <h2>Tools Used</h2>
                      <ul>
                        <li>HTML5/CSS3/SASS</li>
                        <li>Burbon/Neat/Bitters/Refill (Frameworks)</li>
                        <li>Javascript/JQuery</li>
                        <li>Responsive Web Design</li>
                        <li>Sketch ( Web Design )</li>
                      </ul>
                  </div>
                  <img class="project-img" src="img/dit-tablet.png" alt="Diversity in tech tablet mockup">
                    <div class="project-info">
                    <h2>Process</h2>
                    <p>It took me two weeks to complete this project, with research and competitive market analysis, user surveys, style tiles, wireframes, mockups, and using Illustrator to create all of the logos and icons for the site, before diving into production in code. Check out out this Style Guide for more details on my process and design elements!</p>
                  </div>
                </div>  <!--end of block -->
              </div>
            </div>
        </div>
    </section>

  
    
{% include call-to-action.html %}


<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
        
 