---
layout: default
---

{% include home-slider.html %}


    

    <!-- Service Start -->
    <section id="service">
      <div class="container">
        <div class="row">
          <div class="section-title">
            <h2>My Skills</h2>
            <p>Below are my current design and web development hard skills</p>
          </div>
        </div>
        <!-- top row -->
        <div class="row "> 
          <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Front End Development</h3>
              <br>
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>JQuery</li>
                
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Backend Developement</h3>
              <br>
              <ul>
                <li>Java</li>
                <li>Spring Framework</li>
                <li>MySQL</li>
                <li>Git</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
        <!-- <div class="row "> -->
          <!-- bottom row -->
          <!-- <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Backend Developement</h3>
              <br>
              <ul>
                <li>PHP</li>
                <li>Laravel</li>
                <li>Java</li>
                <li>Spring</li>
                <li>Node.js</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="service-item">
              <i class="fa fa-code" aria-hidden="true"></i>
              <h3>Project Management and Other Skills</h3>
              <br>
              <ul>
                <li>Atlassian Suite</li>
                <li>( JIRA, Bitbucket, SourceTree, Confluence, and Hipchat for the occasional meme )</li>
                <li></li>
                <li>Agile</li>
                <li>Scrum</li>
                <li>Git & Github</li>
                <li>Code Reviews</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>Fun Facts About Me</h2>
            <p>Useless trivia..</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <h4 class="counter">90000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <h4 class="counter">20000</h4>
                    <span>Tacos Consumed</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="fa fa-reddit" aria-hidden="true"></i>
                    <h4 class="counter">10000</h4>
                    <span>Hours on Reddit</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    <h4 class="counter">1000000</h4>
                    <span>Visits to Stack Overflow</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>

<!-- testimonial carousel -->
          <!--<div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
              </div>
            </div>
          </div>-->


        </div>
      </div>
    </section>


{% include call-to-action.html %}


            
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
            
